<div class="main">
    <div class="main-menu">
        <h1 style="font-size:75px">QuizMaster</h1>
    </div>
    <div class="main-menu">
        <button>
            <a asp-controller="Room" asp-action="Join">Найти игру</a>
        </button>
    </div>
    <div class="main-menu">
        <button>
            <a asp-controller="Room" asp-action="Create">Создать игру</a>
        </button>
    </div>
    <div style="height:100px"></div>
    <div class="main-menu">
        <button>
            <a asp-controller="Home" asp-action="Leaderboards">Таблица лидеров</a>
        </button>
    </div>
</div>